@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { margin: -5px; }

header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  position: absolute;
  border: 1px solid;
  border-style: inset;
  top: 3%;
  left: 1%;
}

.hamburger,
.dropdownContent { display: none;}
.hamburgerMenu { width: 40%; }

.headerSideLinks {
  width: 50%;
  position: relative;
}

.hamburger-nav ul {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
}

.hamburger-nav li { margin: 0 3%; }
.hamburger-nav li:last-child { margin: 0}

.hamburger-nav li:first-child { 
  width: 20%;
  margin:0
}

.hamburger-nav li:first-child a { margin-left: 33%; } 

.hamburger-nav a { 
  text-transform: capitalize;
  color: #000;
  font-size: 14px;
}

.dropdown a { position: relative; }

.dropdown a::after {
  content: '\f107';
  padding: 0 10px;
  font-family: fontAwesome;
  position: absolute;
  top: 10%;
}

.headerSideLinks a { 
  color: #c0d689;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; 
}

.headerSideLinks li {
  width: 26%;
  padding: 10px 0 22px;
 }

.headerSideLinks li:first-child a {
  width: 74%;
  margin-top: 15px;
  padding: 9px 11.8% 9px;
  border: 1px solid #c0d689;
  border-radius: 4px;
  color: #c0d689;
  display: flex;
  justify-content: center;
}
.headerSideLinks li:first-child {
  margin-left:67%;
  padding: 0 ;
  display: flex;
  align-self: flex-end;
}

.headerSideLinks li:last-child {
  width: 15%;
  padding: 14px 0 22px;
  position: absolute;
  right: -12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner { background: url('https://via.placeholder.com/1351x637/#cfe2b9?text=HelloFresh?') no-repeat; }
.banner .wrapper { position: relative; }


.bannerContent { 
  padding: 96px 32.5% 312px;
  text-align: center;
}

.bannerContent h2 {
  font-size: 48px;
  color: #343434;
  text-align: center;
  letter-spacing: 1px;
}
.bannerContent p {
  padding: 5% 7%;
  padding-top: 0;
  font-size: 18px;
  line-height: 1.5;
}

.bannerContent a {
  width: 37%;
  padding: 13px 3.2%;
  margin: 0 auto;
  border: 1px solid #c0d689;
  border-radius: 4px;
  background: #c0d689;
  display: flex;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  text-transform: uppercase;
}

.banner .wrapper > a {
  position: absolute;
  bottom: 7%;
  left: 47%;
  text-indent: -9999px;
}

.banner .wrapper > a::before {
  content: '\f107';
  width: 100%;
  padding: 8.5px 23px;
  bottom: 0px;
  font-family: fontAwesome;
  float: right;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  text-indent: 0;
  background: #fff;
  font-size: 30px;
  color: #c0d689;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  how it works styling starts here
=================================*/

.howItWorks h3 {
  margin: 32px 0;
  color: #343434;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.howItWorks .wrapper { width: 68%; }
.procedureSteps li img { border-radius: 100%; }

.procedureSteps { 
  display: flex; 
  margin-bottom: 27px;
}

.procedureSteps figure {
  display: inline-block;
  margin-bottom: 17px;
}

.procedureSteps li {
  width: 25%;
  text-align: center;
}

.procedureSteps li p {
  width: 92%;
  color: #343434;
  font-size: 14px;
  line-height: 1.5;
  font-size: 14px;
  padding: 3%;
}

.procedureSteps li:last-child p { width: 100%;}

.procedureSteps li span {
  width: 100%;
  margin-bottom: 7px;
  display: block;
  line-height: 1.5;
  font-weight: 600;
}

.howItWorks .wrapper > a {
  width: 14%;
  padding: 13px 11px;
  margin: 0 auto 48px auto;
  border: 1px solid #c0d689;
  border-radius: 4px;
  display: flex;
  color: #c0d689;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  text-transform: uppercase;
}

/*=================================
  how it works styling ends here
=================================*/

/*=================================
  choosePlan styling starts here
=================================*/

.choosePlan { background: url('https://via.placeholder.com/1351x442/#cfe2b9?text=HelloFresh?') no-repeat; }

.choosePlan .wrapper {
  margin: 0 0 0 56.3%;
  width: 28.5%;
  padding: 59px 2.3% 67px 4%;
  background: #fff;
  position: relative;
}

.choosePlan h3 {
  padding: 0px 4%;
  margin-bottom: 17px;
  color: #343434;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.choosePlan h3 span { text-transform: lowercase; }

.insideBox { 
  padding: 0 1%;
  margin-bottom: 27px;
}

.insideBox li span {   font-size: 15px; }
.insideBox li:last-child span{ line-height: 1.5; }
.insideBox li { padding: 6px; }

.insideBox li:before {
  content: '\f067';
  left: 8.5%;
  font-family: fontAwesome;
  display: flex;
  justify-content: center;
  position: absolute;
  color: #c0d689;
}

.choosePlan .wrapper > a {
  width: 41%;
  padding: 13px 3.2%;
  margin: 0 auto;
  border: 1px solid #9bbe43;
  border-radius: 4px;
  background: #9bbe43;
  display: flex;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

/*=================================
  choosePlan styling ends here
=================================*/

/*=================================
  instagramPosts styling starts here
=================================*/

.instagramPosts { padding-top: 53px;}

.instagramPosts h3 {
  padding: 0px 4%;
  margin-bottom: 29px;
  color: #343434;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.posts {
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/*=================================
  instagramPosts styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  